.flex-grid {
  display: flex;
}
.flex-grid .col {
  flex: 1;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2% 0;
}
.flex-grid-thirds .col {
  width: 32%;
}
* {
  box-sizing: border-box;
}
body {
  padding: 30px;
  color: white;

}
.flex-grid { 
  margin: 0 0 2% 0;
}
.col {
  background: #007fff;
  padding: 20px;
  text-align: center;
}
