body {
  width: 100%:
  margin: 0 auto;
}

#hero {
  width: 90%;
  height: 400px;
  background-color: #2BCDC0;
  margin: 0 auto;
  text-align: center;
}

#hero h1 {
  padding-top: 175px;
  font-size: 48px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
  height: 400px;
  margin: 0 auto;
  background-color: black;
}

.blue_rectangle {
width: 20%;
height: 30px;
background-color: #33A8DD;
align-items: flex-start;
justify-content: space-between;
margin: 50px;
}

.orange_rectangle {
width: 20%;
height: 30px;
background-color: #F46731;
align-items: center;
justify-content: space-between;
margin: 50px;
}

.aqua_rectangle {
width: 20%;
height: 30px;
background-color: #2BCDC0;
align-items: flex-end;
justify-content: space-between;
margin: 50px;
}

h1 {
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 18px 0;
}

p {
    font-size: 14px;
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    line-height: 20px;
    max-width: 90%;
}

/* Phone Size */

@media (max-width: 767px) {
  #hero {
    background-color:
    #33A8DD;
    width: 100%;
  }

  .container {
  min-height: 900px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 0;
  width: 100%;
  background-color: #f7f5f6;
  }

  .blue_rectangle {
  width: 175px;
  height: 30px;
  background-color: #33A8DD;
  }

  .orange_rectangle {
  width: 175px;
  height: 30px;
  background-color: #F46731;
  }

  .aqua_rectangle {
  width: 175px;
  height: 30px;
  background-color: #2BCDC0;

  }

  h1 {
      color: black;
      font-size: 48px;
      flex-flow: column wrap;
  }

  p {
      color: black;
      font-size: 14px;
      font-family: Helvetica, sans-serif;
      line-height: 20px;
      flex-flow: column wrap;
  }



}
