body {
  width: 100%:
}

#hero {
  width: 90%;
  height: 400px;
  background-color: #2BCDC0;
  margin: 0 auto;
  text-align: center;
}

#hero h1 {
  padding-top: 175px;
font-size: 48px;
color: white;
}

.box{
width: 100px;
height: 100px;
}

.black {
  width: 90%;
  height: 400px;
  background-color: #black;
  margin: 0 auto;
}

/* Phone Size */

@media (max-width: 767px) {
  #hero {
    background-color:
    #33A8DD;
  }
}
