body {
  width: 100%:
}

#hero {
  width: 90%;
  height: 400px;
  background-color: #2BCDC0;
  margin: 0 auto;
  text-align: center;
}

#hero h1 {
  padding-top: 175px;
font-size: 48px;
color: white;
}

.box{
width: 90%;
height: 400px;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 400px;
  background-color: black;
  align-items: flex-start;
  margin: 0 auto;
}

.blue_rectangle {
width: 20%;
height: 30px;
background-color: #33A8DD;
align-items: flex-start;
justify-content: space-between;
margin: 50px;
}

.orange_rectangle {
width: 20%;
height: 30px;
background-color: #F46731;
align-items: center;
justify-content: space-between;
margin: 50px;
}

.aqua_rectangle {
width: 20%;
height: 30px;
background-color: #2BCDC0;
align-items: flex-end;
justify-content: space-between;
margin: 50px;
}


/* Phone Size */

@media (max-width: 767px) {
  #hero {
    background-color:
    #33A8DD;
  }


}
