body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: white;
    width: 100%:
    margin: 0 auto;

}

.flex-grid-nav {
    display: flex;
    max-width: 100%;
    margin: auto 0;
    height: 55px;
    padding: 25px;
    background-color: white;
}

.col-title {
    display: flex;
    flex: 2;
    justify-content: flex-start;
    align-items: center;
    padding-top: 17px;
    padding-left: 25px;
}

.col-nav {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    padding: 0px 50px;
}

h1 {
    font-family: 'Lobster Two', cursive;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

#hero {
  background-image: url("../img/Bigphoto.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 250px;
  margin: 20px auto;
}

#hero h1 {
  font-size: 72px;
  color: white;
  text-align: center;
}

#hero h4 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.button {
  margin: 0 auto;
  width: 150px;
  background-color: #11d1ac;
  color: white;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

.flex-grid-main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background: blue;
  background: -webkit-linear-gradient(left top, #ffb6c1, #b0c4de);
}

div.jotaro {
   content:url("../img/jotaro.jpg");
   width: 150px;
   height: 150px;
   margin: 50px;
}​

div.Oku {
  content: url("../img/Oku.png");
  width: 150px;
  height: 150px;
  margin: 50px;
}

div.Koichi {
  content:url("../img/Koichi.png");
  width: 150px;
  height: 150px;
  margin: 50px;
}

div.Rohan {
   content:url("../img/Rohan.png");
   width: 150px;
   height: 150px;
   margin: 50px;
}​
